.photo-preview {

    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 12px;
  }
.photo-preview ion-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
