<ion-content class="ion-padding">
  <div class="dashboard-container">
    <h2 class="dashboard-title">Dashboard</h2>
    <p class="dashboard-subtitle">Overview of ads, reservations, and users</p>

    <div class="stats-grid">
      <div class="card green" role="button" tabindex="0" >
        <h3>{{ totalAds }}</h3>
        <p>Announcements</p>
      </div>

      <div class="card blue" role="button" tabindex="0" >
        <h3>{{ bookedAds }}</h3>
        <p>Reservations</p>
      </div>

      <div class="card red" role="button" tabindex="0" (click)="goTo('users')">
        <h3>{{ totalUsers }}</h3>
        <p>Users</p>
      </div>
    </div>

    <div class="progress-section">
      <div class="progress-card">
        <p>Reservation rate</p>
        <div class="circle" [style.background]="getProgressGradient(bookedPercentage)">
          {{ bookedPercentage }}%
        </div>
      </div>
    </div>

    <div class="chart-container">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</ion-content>
