ion-content {
  --background: linear-gradient(135deg, #191a1d, #191e29);
}

.register-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-container {
  background: #362c2c;
  width: 380px;
  padding: 35px 25px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

ion-item {
  --background: #fbfbfc;
  border-radius: 6px;
  margin-bottom: 14px;
}

ion-input {
  font-size: 0.95rem;
}

ion-button {
  margin-top: 10px;
  --background: linear-gradient(45deg, #060708, #060708);
  --border-radius: 6px;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

a {
  color: #bcbfe2;
  font-size: 0.9rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
