<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title>Accueil</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/login" fill="clear">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-image">

  <div class="overlay">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenue sur BookingApp</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Voir et gérer les réservations facilement.
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
