.background-image {
  --background: none;
  background: url("/assets/images/images.jpg") no-repeat center center / cover;
  position: relative;
  height: 100%;
}

/* Optionnel : couche sombre pour lisibilité */
.overlay {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-card {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 16px;
  width: 90%;
  max-width: 400px;
}
